# Pandas assignment 1
1.  Write a function that takes start and end of a range returns a Pandas series object containing numbers within that range. In case the user does not pass start or end or both they should default to 1 and 10 respectively. 
eg. 

range_series() -> Should Return a pandas series from 1 to 10

range_series(5) -> Should Return a pandas series from 5 to 10 

range_series(5, 10) -> Should Return a pandas series from 5 to 10.

In [59]:
import pandas as pd
def range_series(a=1, b=10):
  return pd.Series(range(a,b+1))
range_series()

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [61]:
range_series(5)

0     5
1     6
2     7
3     8
4     9
5    10
dtype: int64

In [60]:
range_series(5,10)

0     5
1     6
2     7
3     8
4     9
5    10
dtype: int64

2.  Create a function that takes in two lists named keys and values as arguments. 
Keys would be strings and contain n string values. 
Values would be a list containing n lists. 
The methods should return a new pandas dataframe with keys as column names and values as 
their corresponding values 
e.g. -> create_dataframe(["One", "Two"], [["X", "Y"], ["A", "B"]]) -> should return a dataframe 

One Two 

0  X A 

1  Y B

In [106]:
def create_dataframe(keys, values):
  return pd.DataFrame(values, columns= keys)
p= create_dataframe(['One', 'Two'], [['X','Y'],['A','B']])
print(p)

  One Two
0   X   Y
1   A   B

3.  Create a function that concatenates two dataframes. Use previously created function to create two dataframes and pass them as parameters Make sure that the indexes are reset before returning:

In [112]:
def concats(a,b):
  return pd.concat([a,b], ignore_index= True)
a= pd.DataFrame(['One', 'Two'], [['A','B'],['X','Y']])
b= pd.DataFrame(['one', 'two'], [['a','b'],['x','y']])
concats(a,b)

     0
0  One
1  Two
2  one
3  two

4.  Write code to load data from cars.csv into a dataframe and print its details. Details like: 

'count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max'.

In [118]:
import pandas as pd
import numpy as np

cars= pd.read_csv('/content/cars.csv')
cars.describe()

             MPG   Cylinder        Disp  ...         AM       Gear     Carb
count  32.000000  32.000000   29.000000  ...  32.000000  32.000000  32.0000
mean   20.090625   6.187500  229.789655  ...   0.406250   3.687500   2.8125
std     6.026948   1.785922  129.299092  ...   0.498991   0.737804   1.6152
min    10.400000   4.000000   71.100000  ...   0.000000   3.000000   1.0000
25%    15.425000   4.000000  120.300000  ...   0.000000   3.000000   2.0000
50%    19.200000   6.000000  167.600000  ...   0.000000   4.000000   2.0000
75%    22.800000   8.000000  350.000000  ...   1.000000   4.000000   4.0000
max    33.900000   8.000000  472.000000  ...   1.000000   5.000000   8.0000

[8 rows x 11 columns]

5.  Write a method that will take a column name as argument and return the name of the column with which the given column has the highest correlation. 
The data to be used is the cars dataset. The returned value should not the column named that was passed as the parameters. 
E.G: get_max_correlated_column('mpg') -> should return 'drat'

In [119]:
cars.corr()

               MPG  Cylinder      Disp  ...        AM      Gear      Carb
MPG       1.000000 -0.852162 -0.853426  ...  0.599832  0.480285 -0.550925
Cylinder -0.852162  1.000000  0.916654  ... -0.522607 -0.492687  0.526988
Disp     -0.853426  0.916654  1.000000  ... -0.611984 -0.548800  0.411567
HP       -0.776520  0.836229  0.786978  ... -0.235782 -0.094758  0.768629
Drat      0.681172 -0.699938 -0.710339  ...  0.712711  0.699610 -0.090790
Wt       -0.867659  0.782496  0.899709  ... -0.692495 -0.583287  0.427606
Qsec      0.418684 -0.591242 -0.429604  ... -0.229861 -0.212682 -0.656249
VS        0.664039 -0.810812 -0.709728  ...  0.168345  0.206023 -0.569607
AM        0.599832 -0.522607 -0.611984  ...  1.000000  0.794059  0.057534
Gear      0.480285 -0.492687 -0.548800  ...  0.794059  1.000000  0.274073
Carb     -0.550925  0.526988  0.411567  ...  0.057534  0.274073  1.000000

[11 rows x 11 columns]

In [136]:
def get_corleate(col) :
    df = cars.corr()
    return df[col].sort_values(ascending = False).index[1]
get_corleate("MPG")

'Drat'

In [45]:
import pandas as pd
import numpy as np

In [46]:
customer_churn= pd.read_csv('/content/Customer_Churn.csv')

# Pandas assignment 2
You work in XYZ Corporation as a Data Analyst. Your corporation has told you to analyze the 
customer_churn dataset with various functions.
1. Now select the rows from 20th index till 200th
index (exclusive), and columns from 2nd index till 
15 th index value.

In [ ]:
customer_churn.iloc[20:201, 2:16]

     SeniorCitizen Partner  ...      StreamingMovies        Contract
20               1      No  ...                  Yes  Month-to-month
21               0     Yes  ...  No internet service        One year
22               0      No  ...  No internet service  Month-to-month
23               0     Yes  ...                   No        Two year
24               0     Yes  ...                   No  Month-to-month
..             ...     ...  ...                  ...             ...
196              0     Yes  ...  No internet service        Two year
197              0      No  ...                  Yes  Month-to-month
198              0     Yes  ...                  Yes        Two year
199              0      No  ...  No internet service  Month-to-month
200              0     Yes  ...                  Yes        One year

[181 rows x 14 columns]

# Pandas assignment 3
You work in XYZ Corporation as a Data Analyst. Your corporation has told you to analyze the customer_churn dataset with various functions.
1.  Display the top 100 records from the original data  frame.
2.  Display the last 10 records from the data  frame.
3.  Display the last record from the data  frame.

In [ ]:
import pandas as pd

customer_churn= pd.read_csv('/content/Customer_Churn.csv')

In [ ]:
customer_churn.head(100)

    customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0   7590-VHVEG  Female              0  ...          29.85        29.85     No
1   5575-GNVDE    Male              0  ...          56.95       1889.5     No
2   3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3   7795-CFOCW    Male              0  ...          42.30      1840.75     No
4   9237-HQITU  Female              0  ...          70.70       151.65    Yes
..         ...     ...            ...  ...            ...          ...    ...
95  8637-XJIVR  Female              0  ...          78.95       927.35    Yes
96  9803-FTJCG    Male              0  ...          66.85       4748.7     No
97  0278-YXOOG    Male              0  ...          21.05       113.85    Yes
98  3212-KXOCR    Male              0  ...          21.00       1107.2     No
99  4598-XLKNJ  Female              1  ...          98.50       2514.5    Yes

[100 rows x 21 columns]

In [ ]:
customer_churn.tail(10)

      customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
7033  9767-FFLEM    Male              0  ...          69.50      2625.25     No
7034  0639-TSIQW  Female              0  ...         102.95      6886.25    Yes
7035  8456-QDAVC    Male              0  ...          78.70       1495.1     No
7036  7750-EYXWZ  Female              0  ...          60.65        743.3     No
7037  2569-WGERO  Female              0  ...          21.15       1419.4     No
7038  6840-RESVB    Male              0  ...          84.80       1990.5     No
7039  2234-XADUH  Female              0  ...         103.20       7362.9     No
7040  4801-JZAZL  Female              0  ...          29.60       346.45     No
7041  8361-LTMKD    Male              1  ...          74.40        306.6    Yes
7042  3186-AJIEK    Male              0  ...         105.65       6844.5     No

[10 rows x 21 columns]

In [ ]:
customer_churn.tail(1)

      customerID gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
7042  3186-AJIEK   Male              0  ...         105.65       6844.5     No

[1 rows x 21 columns]

# Pandas assignment 4
You work in XYZ Corporation as a Data Analyst. Your corporation has told you to analyze the 
customer_churn dataset with various functions.
1.  Now from the churn data frame, try to sort the data by the tenure column according to the 
descending order.
2.  Fetch all the records that are satisfying the following  condition:

a.  Tenure>50 and the gender as ‘Female’.

b.  Gender as ‘Male’ and SeniorCitizen as  0.

c.  TechSupport as ‘Yes’ and Churn as ‘No’.

d.  Contract type as ‘Month-to-month’ and Churn as  ‘Yes’.

In [ ]:
import pandas as pd

customer_churn= pd.read_csv('/content/Customer_Churn.csv')

In [ ]:
customer_churn.sort_values(by= 'tenure', ascending=False)

      customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
1672  4737-AQCPU    Male              0  ...          72.10      5016.65     No
193   9680-NIAUV  Female              0  ...         109.70       8129.3     No
4553  5914-XRFQB    Male              0  ...         115.80       8424.9     No
483   5168-MQQCA  Female              0  ...         108.50       8003.8     No
3266  0464-WJTKO  Female              0  ...          20.10      1460.85     No
...          ...     ...            ...  ...            ...          ...    ...
1082  4367-NUYAO    Male              0  ...          25.75                  No
3826  3213-VVOLG    Male              0  ...          25.35                  No
936   5709-LVOEQ  Female              0  ...          80.85                  No
6754  2775-SEFEE    Male              0  ...          61.90                  No
1340  1371-DWPAZ  Female              0  ...          56.05                  No

[7043 rows x 21 columns]

In [ ]:
tenure_female= (customer_churn['tenure']>50) & (customer_churn['gender']== 'Female')
tenure_female

0       False
1       False
2       False
3       False
4       False
        ...
7038    False
7039     True
7040    False
7041    False
7042    False
Length: 7043, dtype: bool

In [ ]:
tenure_female.value_counts()

False    6021
True     1022
dtype: int64

In [ ]:
male_young= (customer_churn['gender']== 'Male') & (customer_churn['SeniorCitizen']==0)
male_young

0       False
1        True
2        True
3        True
4       False
        ...
7038     True
7039    False
7040    False
7041    False
7042     True
Length: 7043, dtype: bool

In [ ]:
male_young.value_counts()

False    4062
True     2981
dtype: int64

In [ ]:
tech_churn= (customer_churn['TechSupport']== 'Yes')& (customer_churn['Churn']== 'No')
tech_churn

0       False
1       False
2       False
3        True
4       False
        ...
7038     True
7039    False
7040    False
7041    False
7042     True
Length: 7043, dtype: bool

In [ ]:
tech_churn.value_counts()

False    5309
True     1734
dtype: int64

In [ ]:
month_churn= (customer_churn['Contract']== 'Month-to-month')& (customer_churn['Churn']== 'Yes')
month_churn

0       False
1       False
2        True
3       False
4        True
        ...
7038    False
7039    False
7040    False
7041     True
7042    False
Length: 7043, dtype: bool

In [ ]:
month_churn.value_counts()

False    5388
True     1655
dtype: int64

# Pandas Assignment 5
You work in XYZ Corporation as a Data Analyst. Your corporation has told you to analyze the customer_churn dataset with various functions.
1. Use a for loop to calculate the number of customers that are getting the tech support and are male senior citizen.

In [ ]:
import pandas as pd
df= pd.read_csv('/content/Customer_Churn.csv')

In [31]:
x=0

for i in range(7043):
  if(df.loc[i,'gender']=='Male' and df.loc[i,'SeniorCitizen']==1 and df.loc[i, 'TechSupport']== 'Yes'):
    x=x+1
print(x)

119

In [35]:
# using & instead of and
x=0
for i in range(7043):
  if((df.loc[i,'gender']=='Male') & (df.loc[i,'SeniorCitizen']==1) & (df.loc[i, 'TechSupport']== 'Yes')):
    x=x+1
print(x)

119

In [34]:
df[(df.gender=='Male') & (df.SeniorCitizen== 1) & (df.TechSupport== 'Yes')]

      customerID gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
57    5067-XJQFU   Male              1  ...         108.45      7076.35     No
72    1891-QRQSA   Male              1  ...         111.60         7099     No
91    2424-WVHPL   Male              1  ...          74.70         74.7     No
273   4716-HHKQH   Male              1  ...         107.05      2172.05     No
382   8204-YJCLA   Male              1  ...          64.80      4732.35     No
...          ...    ...            ...  ...            ...          ...    ...
6601  4909-JOUPP   Male              1  ...         109.70      7898.45     No
6605  7632-MNYOY   Male              1  ...         110.90      7432.05    Yes
6763  7471-MQPOS   Male              1  ...          72.90      5139.65     No
6956  2451-YMUXS   Male              1  ...          64.55       4250.1     No
7007  2274-XUATA   Male              1  ...          63.10      4685.55     No

[119 rows x 21 columns]